@import './globals.scss';

// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/

$hoo-kit-primary: mat-palette(
	(
		500: $primary-color,
		contrast: (
			500: white
		)
	)
);
$hoo-kit-accent: mat-palette(
	(
		500: $primary-color,
		contrast: (
			500: white
		)
	)
);

// The warn palette is optional (defaults to red).
$hoo-kit-warn: mat-palette($mat-red);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$hoo-kit-theme: mat-light-theme(
	(
		color: (
			primary: $hoo-kit-primary,
			accent: $hoo-kit-accent,
			warn: $hoo-kit-warn
		)
	)
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($hoo-kit-theme);

// global styles

.border {
	border: $borderWidth solid $borderColor;
	border-radius: $borderRadius;
}

$sides: ('top', 'bottom', 'left', 'right');
@each $side in $sides {
	.border-#{$side} {
		border-#{$side}: $borderWidth solid $borderColor;
	}
}

html {
	font-family: Roboto, 'Helvetica Neue', sans-serif;

	display: flex;
	height: 100%;
	width: 100%;

	color: $font-color;
	font-size: $font-size;
}

.mono-font {
	font-family: 'Roboto Mono', monospace;
}

body {
	display: flex;
	width: 100%;
	margin: 0;
}

.primary-color {
	color: $primary-color;
}
.primary-background {
	background-color: $primary-color;
}

.primary-color-dark {
	color: $primary-color-dark;
}
.primary-background-dark {
	background-color: $primary-color-dark;
}

button:not([mat-icon-button]) {
	@extend .border;

	background-color: white;
	outline: none;
	cursor: pointer;
	font-size: 12px;
	text-transform: uppercase;
	letter-spacing: 2px;

	padding: 6px;
	padding-right: 4px;
	width: fit-content;

	transition: color 0.2s, background-color 0.2s;

	color: $primary-color;

	&:hover {
		background-color: transparentize($primary-color, 0.8);
	}

	&:active {
		background-color: transparentize($primary-color, 0.4);
	}
}

// make mat icons smaller
mat-icon {
	font-size: 22px !important;
	padding-left: 1px;
	margin-top: -1px;
}

// remove mat form-field bottom padding
.mat-form-field-wrapper {
	margin-bottom: -1.25em;
}

// make mat-expansion panel header not selectable
mat-expansion-panel-header {
	user-select: none;
}

// remove shadow and padding
mat-expansion-panel.no-level {
	box-shadow: none !important;

	> mat-expansion-panel-header {
		background: none !important;
		padding-left: 0;
		padding-right: 2px;
	}

	> div > div {
		padding: 2px;
	}
}
