@import '../../../styles/globals.scss';

:host {
	display: flex;
	flex-direction: column;

	> .header {
		font-size: 16px;
		height: 20px;
		display: flex;
		align-items: center;
		user-select: none;
		cursor: pointer;

		> span {
			margin-right: auto;
		}
	}

	> mat-expansion-panel.closed {
		height: 48px;
	}
}

.events {
	> div {
		display: flex;

		color: lighten($font-color, 20%);

		> button {
			margin-top: -10px;
			margin-bottom: -10px;
			margin-right: -10px;
			margin-left: auto;
		}

		> input {
			outline: none;
			border-top: none;
			border-left: none;
			border-right: none;
			width: 100%;
			padding: 0;
			font-size: 14px;
		}
	}
}
