@import '../../../styles/globals.scss';

:host {
	display: flex;
	margin: $spacing auto;
}

.tasks-container {
	> div {
		display: flex;
		flex-direction: column;

		padding: $spacing;
		margin-bottom: $spacing;

		width: 60vw;

		&.selectable {
			user-select: none;
			text-align: center;
			cursor: pointer;
		}

		> .header {
			display: flex;
			align-items: center;

			> .status {
				background-color: $error-color;
				width: 1em;
				height: 1em;
				border-radius: 50%;

				&.active {
					background-color: $primary-color;

					animation: status-ripple 4s linear infinite;

					@keyframes status-ripple {
						0% {
							box-shadow: 0 0 0 0 rgba($primary-color, 0.8);
						}
						25% {
							box-shadow: 0 0 0 8px rgba($primary-color, 0);
						}
					}
				}
			}

			> .name {
				font-size: 22px;
				margin-right: auto;
			}
		}

		> *:not(:first-child) {
			margin-top: $spacing;
		}

		> .command {
			> div {
				display: flex;

				margin-top: $spacing / 4;
				padding: $spacing / 2;

				color: lighten($font-color, 20%);

				> button {
					margin-top: -10px;
					margin-bottom: -10px;
					margin-right: -10px;
					margin-left: auto;
				}

				> input {
					outline: none;
					border-top: none;
					border-left: none;
					border-right: none;
					width: 100%;
					padding: 0;
					font-size: 14px;
				}
			}
		}

		> .sessions {
			user-select: none;

			> div {
				display: flex;
				margin-left: -($spacing / 4);

				> div {
					display: flex;
					align-items: center;

					margin: $spacing / 4;
					padding: $spacing / 4;
					padding-left: ($spacing / 4) + 3;

					> div:first-child {
						margin-top: 1px;
						margin-bottom: -1px;
					}

					> .close {
						cursor: pointer;

						height: 16px;
						width: 16px;
						display: flex;
						justify-content: center;
						align-items: center;

						margin-left: $spacing / 4;

						&:hover {
							color: white;
							background-color: $error-color;
						}

						> mat-icon {
							font-size: 18px !important;
							height: 18px !important;
							width: 18px !important;
						}
					}
				}
			}
		}
	}
}
